<?xml version="1.0"?>
<Settings>
	<EmailSettings>
		<SMTPServer>smtp.your.company</SMTPServer>
		<SMTPPort>25</SMTPPort>
		<MailFrom>exchangeserver@yourdomain.com</MailFrom>
		<MailTo>yourname@yourdomain.com</MailTo>
	</EmailSettings>
	<Exclusions>
		<casmbxname></casmbxname>
	</Exclusions>
</Settings>